* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.main-panel-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.menu-icon-responsive {
    display: flex;
	width: max-content;
}
.main-panel {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
.fixed {
    position: fixed;
    top:0;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 1;
}
a.active {
	color: #ffbf35;
	margin: 0;
}
nav {
	float: right;
	display: flex;
	align-items: baseline;
}
nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}
nav a.span-a:hover{
	color:white;
}
nav a:hover {
    color: #ffbf35;
}
nav a.span-a span:hover{
	color:#ffbf35;
}
.project a {
    margin: 0;
}
.icon-class-media {
    margin-top: 20px;
}
.project{
	margin-left: 20px;
	display: flex;
	gap: 4px;
	align-items: baseline;
}
.main-banner-padding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 21px 0px 21px;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
	transition:all 0.5s ease-in-out;
}
.banner-section h1:hover{
	color:#ffbf35;
	transition:all 0.5s ease-in-out;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section h2:hover{
	color: #ffbf35;
}
.banner-section a {
    float: left;
    text-decoration: none;
    font-size: 15px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #ffbf35;
    color: #ffbf35;
    margin-left: 10px;
    height: 50px;
    width: 50px;
    line-height: 55px;
    transition: all 0.5s ease-in-out;
}
.banner-section a:hover{
	transition:all 0.5s ease-in-out;
}
a.whatsapp svg{
	margin: 8px 0 0 4px;
}
svg {
	fill: #ffbf35;
}
.banner-section a:first-child {
    margin: 0;
}
a.facebook:hover {
    background: #1977F2;
    border: 2px solid transparent;
}
a.facebook:hover svg{
	fill:white;
}
a.whatsapp:hover {
    background: #25D366;
    border: 2px solid transparent;
}
a.whatsapp:hover svg{
	fill:white;
}
a.mail:hover {
    background: #fff;
    border: 2px solid transparent;
}
a.mail:hover svg{
	fill:#B23121;
}
a.twitter:hover {
    background: white;
    border: 2px solid transparent;
}
a.twitter:hover svg{
	fill:#00acee;
}
a.linkdin:hover {
    background: #0072b1;
    border: 2px solid transparent;
}
a.linkdin:hover svg{
	fill: white;
}
a.instagram:hover {
    background: radial-gradient(circle at 10% 151%, #fdf497 0%, #fdf497 18%, #FD5949 39%, #d6249f 69%, #285aeb 113%);
    border: 2px solid tomato;
}
a.instagram:hover svg{
	fill: white;
}
a.github:hover {
    background: black;
    border: 2px solid transparent;
}
a.github:hover svg{
	fill: white;
}
.accrodin-section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
}
.about-us h3 span{
	color:#ffbf35;
	font-weight:700;
}
.about-us p {
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
}
.about-us p span{
	color:#ffbf35;
	font-weight:700;
}
span.span-col {
    font-size: 18px;
    color: #ffbf35;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 35px;
	text-align: center;
	margin-bottom: 50px;
	color: #ffbf35;
}
.about-us-description {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    column-gap: 35px;
}
.about-section-phone-number p {
    margin: 0;
    padding: 5px 0;
    line-height: normal;
}
.about-section-phone-number p a{
    margin: 0;
    padding: 5px 0;
    line-height: normal;
	color:white;
	text-decoration:none;
}
.about-section-phone-number p a:hover{
	color: #ffbf35;
}
.about-section-phone-number p strong{
	color: #ffbf35;
}
.gray {
    background: #1a1a1a;
    width: 100%;
}
.skill-section {
    padding: 110px 0;
}
.skill {
	margin-top: 30px;
	font-size: 17px;
}
.skill-bar {
    width: -webkit-fill-available;
}
.accordion-item {
    display: flex;
    justify-content: space-between;
}
.skill span {
	float: right;
}
.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background: #ffbf35;
	height: 5px;
	float: left;
}
.skill div.html span {
	animation: html 2.5s 0.3s ease-in-out both;
}
@keyframes html {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}
.skill div.css span{
	animation: css 2.5s 0.3s ease-in-out both;
}
@keyframes css {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}
.skill div.javascript span{
	animation: javascript 2.5s 0.3s ease-in-out both;
}
@keyframes javascript {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}
.skill div.shopify span{
	animation: shopify 2.5s 0.3s ease-in-out both;
}
@keyframes shopify {
    from {
        width: 0%;
    }

    to {
        width: 60%;
    }
}
.progess-bar-round .card .circle{
	position: relative;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	cursor: default;
	}
.card .circle .box,
.card .circle .box span{
	position: absolute;
	top: 50%;
	left: 50%;
  }
.card .circle .box{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	transition: all 5s;
	background: black;
	display: none;
	}
.circle .box span{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	transform: translate(-45%, -45%);
	transition: all 0.1s;
	color: #ffbf35;
	}
.card .circle .text{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	transform: translate(-2%, -103%) scale(0.9);
	transition: all 5s;
}
.accordion-body {
    display: flex;
    flex-direction: column;
}
.circle .text{
	position: relative;
}
.circle .text p{
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 600;
	transition: all 0.1s;
	color: #ffbf35;
}
.circle .text p.html{
	position: absolute;
	top: 41%;
	left: 35%;
}
.circle .text p.css{
	position: absolute;
	top: 41%;
	left: 35%;
}
.circle .text p.javascript{
	position: absolute;
	top: 41%;
	left: 12%;
}
.circle .text p.shopify{
	position: absolute;
	top: 41%;
	left: 24%;
}
.progess-bar-round {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2,1fr);
    padding-left: 126px;
    column-gap: 100px;
    row-gap: 50px;
}
.experience-list {
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 20px;
	border-radius: 18px;
}
.experience-content {
	margin-left: 10px;
}
.experience-content h2 {
	font-weight: 600;
	margin-bottom: 5px;
	font-size: 20px;
}
.experience-content h3 {
	color: #ffbf35;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;
}
.experience-content p {
	font-size: 15px;
}
.acoording-experiance-button {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    padding: 80px 0;
}
.edu-exp {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}
.service-section{
	padding: 110px 0;
    width: -webkit-fill-available;
    float: left;
}
.service-list {
	padding: 40px;
	background: #262626;
	border-radius: 15px;
}
.service-list i {
	font-size: 70px;
	color: #ffbf35;
	width: 70px;
	float: left;
	height: 70px;
	margin-right: 23px;
}
.service-list h3 {
	font-size: 28px;
	margin-top: 8px;
	margin-bottom: 8px;
}
.service-list p {
	font-size: 15px;
	line-height: 25px;
}
.service-list p strong{
	color:#ffbf35;
}
.accordion-flush-service {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 40px;
}
.accordion-collapse-service {
    display: flex;
    flex-direction: column;
}
.contact-us-section{
	padding: 110px 0;
    width: -webkit-fill-available;
    float: left;
}
.contact form {
	width: 71%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px 25px;
	border: 1px solid #a1a1a1;
	border-radius: 21px;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	padding: 18px;
	background: #ffbf35;
	color: #fff;
	border: none;
	font-size: 16px;
	border-radius: 20px;
	border:3px solid #ffbf35;
	cursor: pointer;
}
.contact button:hover{
	background:white;
	color:#ffbf35;
	font-weight:700;
	border:3px solid #ffbf35;
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #ffbf35;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact a {
	font-size: 16px;
	margin-top: 5px;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	text-align: center;
	letter-spacing: 1.2px;
	line-height: 24px;
}
.contact a:hover{
	color:#ffbf35;
}
.accordion-flush-contact-us {
    display: flex;
    flex-direction: column;
}
.alert-danger-contact-us {
    display: flex;
    justify-content: space-between;
}
.info {
    width: 33%;
}
.footer-sect.icon.banner-section {
    flex-direction: row;
    justify-content: flex-start;
}
.footer {
	background-color: #000;
	padding: 30px 0px 40px 0px;
	width: 100%;
	float: left;
}
.footer-copyright {
	color: #b3b3b3;
	text-align: end;
	font-size: 20px;
}
.footer-copyright a{
	text-decoration:none;
	color: #b3b3b3;
}
.footer-copyright a:hover{
	color:#ffbf35;
	/* margin: 0; */
}
.footer .icon {
    margin-top: 20px;
}
.footer-sect a {
	color: #b3b3b3;
}
.footer-rights {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}
.footer-sect.icon.banner-section {
    margin-top: 0;
}
#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 24px;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 9px 13px 5px 13px;
	border-radius: 71%;
	background: #ffbf35;
	}
#myBtn svg{
	  fill:white;
}
#myBtn:hover {
	background-color: #fff;
}
#myBtn:hover svg{
	  fill:#ffbf35;
}

select {
    width: 100%;
}

.word {
	color: white;
	margin-left: 7px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 400;
	color: #ffbf35;
}
.banner-section h2 {
	display: flex;
	height: 100%;
}


.menu-bar-collapse .icon {
	display: none;
  }
  @media screen and (max-width: 889px){
	.menu-icon-responsive {
		display: block;
	}
	.project{
		margin-top: 10px;
	}
  }
  @media screen and (max-width: 867px) {
	.menu-bar-collapse a:not(:first-child) {
		display: none;
	}
	.menu-bar-collapse a.active{
		display: none;
	}
	.project a{
		display:none;
		margin-top: 0;
	}
	.menu-bar-collapse a:first-child{
		margin-top: 65px;
	}
	.slash{
		display: none;
	}
	.menu-bar-collapse a.icon {
		display: block;
		position: absolute;
		color: #ffbf35;
	}
	  .banner-section a{
	  margin-left:6px;
	  }
	.project{
		margin: 0;
		display: contents;
	}
	.menu-bar-collapse.responsive {position: absolute;display: flex;flex-direction: column;margin: 0px 0 -61px 0px;top: 0;transition: all 0.5s ease-in-out;background-color: rgba(0,0,0,0.4);backdrop-filter: saturate(180%) blur(20px);z-index: 1;right: 0px;top: 0px;}
	.menu-bar-collapse.responsive .icon {
		position: absolute;
		right: 49px;
		top: 32px;
	}
	.menu-bar-collapse.responsive a {
		float: none;
		display: flex;
		text-align: left;
		gap: 6px;
		margin-bottom: 15px;
	}
   .menu-bar-collapse.responsive .project a{
	   margin-top:0;
   }
   .menu-icon-responsive {
		display: flex;
		flex-direction: column;
		padding: 0 52px;
		align-items: center;
		justify-content: center;
   }
   .banner-section h2 {
    	font-size: 16px;
   }
   .word {
		font-size: 16px;
		margin-left: 5px;
	}
	.banner-section h1 {
		font-size: 26px;
	}
	.banner-image-section img {
		width: 330px;
	}
	img.about-img {
		max-width: 311px;
	}
	.accrodin-section-about {
		padding: 60px 0px;
	}
	.heading-text {
		font-size: 35px;
		text-align: center;
		margin-bottom: 50px;
	}
	.main-banner-padding {
		padding: 21px 0 0px 21px;
	}
	.icon-class-media a:first-child{
		margin-left: 0;
	}
	.banner-section a {
		font-size: 2px;
		height: 40px;
		width: 40px;
	}
	a.whatsapp svg{
		margin:4px 0 0 4px;
		width:25px;
	}
	.footer-copyright{
		font-size: 16px;
	}
	.service-list p{
		font-size: 13px;
	}
	.service-list h3{
		font-size: 22px;
	}
	.acoording-experiance-button {
		gap: 20px;
	}
	.service-list {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
	.accordion-flush-service {
		column-gap: 20px;
		row-gap: 20px;
	}
	.width-service {
		display: grid;
	}
  }
  @media screen and (max-width: 576px) {
	.progess-bar-round {
		padding-left: 40px;
		column-gap: 30px;
		row-gap: 30px;
	}
	img.about-img {
		max-width: 250px;
	}
	.banner-image-section img {
		width: 250px;
	}
	.acoording-experiance-button {
		gap: 10px;
	}
	.experience-list {
		margin-bottom: 10px;
	}
	.experience-content h2 {
		font-size: 15px;
	}
  }
