* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body{
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.menu-icon-responsive {
    display: flex;
	width: max-content;
}
.main-panel-logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.main-panel {
	padding-top: 10px;
	padding-bottom: 10px;
}
.project{
	margin-left: 20px;
	display: flex;
	gap: 4px;
	align-items: baseline;
}
.fixed {
    position: fixed;
    top:0;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: saturate(180%) blur(20px);
}
a.active {
	color: #ffbf35;
	margin: 0;
}
nav {
	float: right;
	display: flex;
}
nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}
nav a:hover {
    color: #ffbf35;
}
nav a.span-a:hover{
	color:white;
}
nav a.span-a span:hover{
	color:#ffbf35;
}
.project a {
    margin: 0;
}
.project{
	margin-left: 20px;
}
.heading-text-project {
	width: 100%;
	float: left;
	font-size: 40px;
	text-align: center;
	color: #ffbf35;
	position: relative;
}
.our-project {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}
.project-detail img {
    width: 100%;
}
.project {
    display: flex;
    gap: 5px;
}
.accordion-item-project {
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    gap: 64px;
    align-items: center;
}
.project-detail a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap: 9px;
    position: absolute;
    top: 4%;
    left: 3%;
    background: rgba(255,253,255,0.85);
    width: 93%;
    height: 90%;
	font-size:22px;
	transition: all 5s ease-in-out;
}
.project-detail a:hover h3{
	background:#ffbf35;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: bg-hue 2s linear infinite;
	font-weight: 700;
}
i.fa-solid.fa-arrow-right-long {
    padding-top: 2px;
	transition: margin-left .5s ease;
}
.project-detail a:hover i {
	margin-left: .5em;
	color:#ffbf35;  
}
@keyframes bg-hue {
100% {
	filter: hue-rotate(-360deg);
}
}

.gallery{
	display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
}
.gallery img{
	width: 95%;
}
.gallery.page {
	width: 90%;
	margin:0 auto;
	display:grid;
	grid-template-columns: repeat(3 , 1fr);
	grid-gap: 31px;
	justify-content:center;
	align-items: center;
}
.gallery-img {
	width: 200px;
	height: 200px;
	cursor: pointer;
	transition: transform 0.2s;
}
.gallery-img:hover {
	transform: scale(1.1);
	cursor: zoom-in;
}
.image-popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}
.close-button {
	position: absolute;
	top: 20px;
	right: 50px;
	font-size:60px;
	color: #fff;
	cursor: pointer;
}
.close-button:hover{
	color: #ffbf35;
}
#popupImage {
	display: block;
	max-width: 80%;
	max-height: 80%;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.tabbing {
    display: flex;
    justify-content: center;
    gap: 25px;
}
a.tabbing-button {
    padding: 14px 38px;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
    color: white;
    border: 3px solid #ffbf35;
    background: linear-gradient(to right, #ffbf35 50%, #fff 50%);
    background-size: 206% 100%;
    transition:all  0.5s ease-in-out;
}
a.tabbing-button:hover{
	background-position: right bottom;
    color:#ffbf35;
}
li.active a.tabbing-button{
	border: 3px solid #ffbf35;
	background: white;
	color: #ffbf35;
}
ul.tabbing.nav-tabs {
    list-style: none;
}

i.fa-light.fa-xmark {
    font-family: 'FontAwesome';
    font-size: 40px;
    color: #ffbf35;
}

.cancle a {
    text-decoration: none;
}

.cancle {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 6px;
    right: 10px;
}


.project-detail img:hover .project-detail a {
    display: block;
}

.site-name {
    display: none;
}

.project-detail:hover .site-name {
    display: block;
}

.project-detail {
    position: relative;
}
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 26px;
	color: white;
}
.popup:hover{
	color:#ffbf35;
}
  .popup .popuptext {
	visibility: hidden;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px;
	position: absolute;
	z-index: 1;
	bottom: -111%;
	right: 0;
	margin-left: -80px;
	font-size: medium;
	}
  
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: -28%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
	transform: rotate(180deg);
	}
  
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

.preview {
    display: flex;
    justify-content: center;
    align-items: center;
}

i.fa-regular.fa-eye {
    font-size: 26px;
    color: #ffbf35;
}

.project a {
    color: white;
    text-decoration: none;
}
.project-class a {
    color: white;
    text-decoration: none;
    font-size: 27px;
}
.project-class a:hover{
	color:#ffbf35;
}
.project a.active{
	color:#ffbf35;
}
.project-class {
    margin: 8px 0 0px 5px;
    font-size: 26px;
    display: flex;
    align-items: end;
    gap: 6px;
}

.heading-text-project p {
    font-size: 21px;
    margin-top: 10px;
}

.menu-bar-collapse .icon {
	display: none;
  }
  
  @media screen and (max-width: 867px) {
	.menu-bar-collapse a:not(:first-child) {
		display: none;
	}
	.menu-bar-collapse a.active{
		display: none;
	}
	.project a{
		display:none;
		margin-top: 0;
	}
	.menu-bar-collapse a:first-child{
		margin-top: 65px;
	}
	 .menu-icon-responsive {
		display: block;
	}
	.project{
		margin-top: 10px;
	}
	a.tabbing-button {
		padding: 10px 10px;
		width: max-content;
	}
	.slash{
		display: none;
	}
	.menu-bar-collapse a.icon {
		display: block;
		position: absolute;
		color: #ffbf35;
	}
	.tabbing{
		gap:10;
	}
	.project{
		margin: 0;
		display: contents;
	}
	.menu-bar-collapse.responsive {position: absolute;display: flex;flex-direction: column;margin: 0px 0 -61px 0px;top: 0;transition: all 0.5s ease-in-out;background-color: rgba(0,0,0,0.4);backdrop-filter: saturate(180%) blur(20px);z-index: 1;right: 0px;top: 0px;}
	.menu-bar-collapse.responsive .icon {
		position: absolute;
		right: 49px;
		top: 32px;
		margin-top: 0;
	}
	.menu-bar-collapse.responsive a {
		float: none;
		display: flex;
		text-align: left;
		gap: 6px;
		margin-bottom: 15px;
	}
   .menu-bar-collapse.responsive .project a{
	   margin-top:0;
   }
   .menu-icon-responsive {
		display: flex;
		flex-direction: column;
		padding: 0 52px;
		align-items: center;
		justify-content: center;
   }
}
@media (max-width:670px) {
	.gallery{
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
		grid-gap: 10px;
	}
	.gallery-img{
		width:150px;
		height: 150px;
	}

	.heading{
		font-size: 20px;
	}
}
@media screen and (max-width: 576px) {
	.heading-text-project {
		font-size: 28px;
	}
	
	i.fa-light.fa-xmark {
		font-size: 35px;
	}
	.project-detail a {
		font-size: 12px;
	}
	.tabbing {
		gap: 34px;
		display: grid;
		grid-template-columns: repeat(3 , 1fr);
		justify-content: center;
	}
	
	.tabbing li {
		width: fit-content;
	}
}
@media screen and (max-width: 409px){
	.tabbing {
		grid-template-columns: repeat(2 , 1fr);
	}
}


